.tabs ul {
	box-align: left;
	list-style: none;
}

.tabs li {
	list-style: none;
	display: inline;
	padding: 0;
	margin: 0;
}

.tabs a {
	padding:1px 8px;
	display:inline-block;
	background:#ccc;
	color:#000;
	border: 1px solid #ccc;
	position: relative;
	top: 1px;
}

.tabs a.active {
	background:#F8F8F8;
	color:#000;
	border: 1px solid #ccc;
	border-bottom: 0.01px solid #F8F8F8;
	position: relative;
	top: 1px;
}

ul.tabs { 
	margin: 0;
	padding: 0;
}

.tabcode {
	background: #f8f8f8; 
	padding: 5px 10px 5px 10px;
	border: 1px solid #CCC;
}
