.tabs ul {
	box-align: left;
	list-style: none;
}

.tabs li {
	list-style: none;
	display: inline;
	padding: 0;
}

.tabs a {
	padding:1px 8px;
	display:inline-block;
	background:#fff;
	color:#000;
}

.tabs a.active {
	background:#ccc;
	color:#000;
}

ul.tabs { 
	margin: 0;
	padding: 0;
}
